* {
  margin: 0;
  padding: 0;
}
.red {
  background-color: red;
  color: white;
  height: 120px;
}

.green {
  background-color: green;
  color: white;
  height: 120px;
}

.orange {
  background-color: orange;
  color: white;
  height: 120px;
}

.yellow {
  height: 120px;
  background-color: rgb(223, 223, 16);
  color: white;
}
.aqua {
  background-color: aqua;
  height: 120px;
}
